<title>Welcome Kisaan</title>
<link rel="stylesheet" href="assets/welcome.css">
<header class="bg-primary">
    <div class="display-1 text-center text-light">Kisaan</div>
</header>
<div class="container">
    <a href="/insights" target="_blank"><button class="btn btn-outline-primary">Insights</button></a>
    <a href="/demand" target="_blank"><button class="btn btn-outline-primary">Demand</button></a>
    <a href="/supply" target="_blank"><button class="btn btn-outline-primary">Supply</button></a>
</div>